.card {
    position: relative;
    width: 240px;
    height: 240px;
    cursor: pointer;
}

.img {
    display: block;
    opacity: 1;
    width: 100%;
    border-radius: 4px;
    transition: all .5s ease;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card:hover .img {
    opacity: .5;
}

.card:hover .middle {
    opacity: 1;
}

.reload {
    color: #02CC67;
}