*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
    height: 100vh;
    border: 2px solid #ff0000;
    max-width: 860px;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
}

.header__title {
    color: #3D3D3D;
}

.header__subtitle {
    color: #575757;
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.button-container__button {
    border-radius: 50%;
    padding: 0.2rem;
    border: none;
    outline: none;
    font-size: 0.9rem;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: center;
    gap: 22px;
}

.header__img-container {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.header__img {
    width: 215px;
    height: 215px;
    object-fit: cover;
    border-radius: 50%;
    padding: 6px;
    border: 4px solid #F7D039;
    background-color: #fff;
}

.header__info-container {
    width: 60%;
    padding-left: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header__title {
    font-size: 46px;
    font-weight: 500;
    line-height: 69px;
}

.header__subtitle {
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
}

.header__list {
    display: flex;
    list-style: none;
    gap: 22px;
    align-items: center;
    padding-top: 10px;
}