*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
}

.container {
    height: 100vh;
    border: 2px solid #ff0000;
    max-width: 600px;
    margin: 0 auto;
}