* {
    box-sizing: border-box;
}

:root {
    --bg-primary: #E9EBEC;
    --bg-secondary: #FFFFFF;
    --bg-terciary: #D7D7D7;
    --bg-details: #FBD144;
    --text-primary: #3D3D3D;
    --text-secondary: #575757;
    --text-terciary: #19191B;
}

[data-theme="dark"] {
    --bg-primary: #0C151D;
    --bg-secondary: #171F26;
    --bg-terciary: #0C151D;
    --bg-details: #FFE071;
    --text-primary: #F1F2F4;
    --text-secondary: #A3ABB2;
    --text-terciary: #A3ABB2;
}

body {
    margin: 0;
}

h1,
h2,
h3,
p,
span,
.section__link {
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    background-color: var(--bg-primary);
}

.container {
    min-height: 100vh;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 3rem;
    gap: 2rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.header__button {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: var(--bg-secondary);
    cursor: pointer;
}

.header__button:hover {
    animation-name: button-animation;
    animation-duration: .8s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.header__button-svg,
.header__main-svg {
    fill: var(--text-primary);
}

.header__main {
    display: flex;
    align-items: center;
}

.header__main-img {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    object-fit: cover;
    padding: 0.6rem;
    background-color: #FFFFFF;
    border: 4px solid var(--bg-details);
}

.header__main-developer {
    padding: 1rem 0 1rem 2rem;
}

.header__title,
.section__stats-title {
    color: var(--text-primary);
}

.header__subtitle,
.section__stats-p,
.footer__p {
    color: var(--text-secondary);
}

.header__title {
    font-size: 2.875rem;
    margin: 0;
}

.header__subtitle,
.section__stats-p,
.section__link,
.main__portfolio-text,
.main__skills,
.footer__p,
.main__image-text {
    font-size: 1.375rem;
}

.header__subtitle {
    margin: 0;
}

.header__main-list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header__main-link svg {
    transition: all .2s ease;
}

.header__main-link svg:hover {
    transform: scale(2);
}

.section {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.section__stats {
    display: flex;
    justify-content: space-around;
}

.section__stats-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__stats-title,
.section__stats-p,
.main__portfolio-text,
.main__skills,
.main__image-title,
.main__image-p {
    margin: 0;
}

.section__stats-title {
    font-size: 1.5rem;
}

.section__secondary {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.section__button {
    width: 18.125rem;
    padding: 1.438rem 0;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--bg-secondary);
    transition: all .2s ease;
    transform-origin: center;
}

.section__button:hover {
    transform: scale(1.2);
}

.section__button--download {
    background-color: var(--bg-details);
}

.section__link {
    text-decoration: none;
    color: var(--text-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__link--download {
    gap: 1rem;
    color: #3D3D3D;
}

.main {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.main__primary {
    display: flex;
    background-color: var(--bg-secondary);
    border-radius: 20px;
    padding: .8rem 1rem;
    color: var(--text-terciary);
}

.main__portfolio {
    background-color: var(--bg-terciary);
    border-radius: 10px;
}

.main__skills,
.main__portfolio-text {
    padding: 2rem 9rem;
}

.main__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem 1.5rem;
    max-width: 760px;
}

.main__image-container {
    position: relative;
}

.main__img {
    display: block;
}

.main__image-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    border-radius: 12px;
    background-color: #FFE071E0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
    transition: opacity .6s ease;
}

.main__image-content:hover {
    opacity: 1;
}

.main__image-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #3D3D3D;
}

.main__image-p {
    text-align: center;
    font-size: 0.875rem;
}

.main__image-button {
    width: 2.375rem;
    height: 2.375rem;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}

.main__image-button svg {
    width: 1.125rem;
    height: 0.625rem;
}

.footer__p {
    margin: 6rem 0 3rem;
}

@media (max-width: 1024px) {

    html {
        font-size: 12px;
    }

    .header__button svg {
        width: 2.2rem;
        height: 2.2rem;
    }

    .main__img {
        width: 330px;
    }

}

@media (max-width: 600px) {

    html {
        font-size: 8px;
    }

    .header__button svg {
        width: 2.5rem;
        height: 2.5rem;
    }

    .header__main {
        flex-direction: column;
    }

    .header__main-link svg {
        width: 2.5rem;
        height: 2.5rem;
    }

    .header__main-developer {
        padding: 0;
    }

    .header__title,
    .header__subtitle {
        text-align: center;
    }

    .header__main-list {
        justify-content: center;
        margin-top: 2rem;
    }

    .section__link--download svg {
        width: 10px;
        height: 11px;
    }

    .main__skills,
    .main__portfolio-text {
        padding: 2rem 7rem;
    }

    .main__img {
        width: 320px;
    }

    .footer__p {
        margin: 3rem 0;
    }

    .main__image-title {
        font-size: 2rem;
    }

    .main__image-p {
        font-size: 1.3rem
    }

    .main__image-button {
        width: 3rem;
        height: 3rem;
    }

    .main__image-button svg {
        width: 1.2rem;
        height: 0.825rem;
    }
}

@keyframes button-animation {
    0% {
        box-shadow: 0 0 5px 6.75px var(--bg-details);
        transform: scale(1);
    }

    25% {
        transform: scale(1.05);
    }

    50% {
        transform: scale(1.1);
    }

    75% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}