*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    padding: 20px;
}

.header__title {
    text-align: center;
    font-size: 48px;
}

.main__container {
    max-width: 1070px;
    margin: 20px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px 80px;
}

.main__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    transition: background-color ease 0.2s;
}

.main__item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.main__title {
    text-align: center;
    padding-top: 20px;
    color: #16A085;
    font-weight: 700;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main__img {
    display: block;
    border-radius: 8px;
    border: 6px solid goldenrod;
    width: 80px;
    object-fit: cover;
}