*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hello {
  background-color: #3A506B;
  border-radius: 8px;
  padding: 10px 20px;
  border: 2px solid transparent;
  box-shadow: 0px 0px 4px 3px rgba(255, 255, 255, .5);
}

.hello {
  transition: all .5s ease;
}

.hello:hover {
  border: 2px solid #FFFFFF;
  background-color: #1C2541;
  color: #5BC0BE;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0B132B;
}

.ToDo {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  padding: 20px;
}

.form {
  display: flex;
  gap: 12px;
}

.form__input {
  font-family: "Roboto", sans-serif;
  width: 300px;
  border: 4px solid #5BC0BE;
  border-radius: 4px;
  padding: 6px 0 6px 6px;
  font-size: 16px;
  transition: all .5s ease;
}

.form__input:hover {
  opacity: .9;
}

.form__input:focus {
  outline: none;
}

.form__input:active {
  outline: none;
}

.form__button {
  font-family: "Roboto", sans-serif;
  padding: 6px;
  background-color: #5BC0BE;
  color: #FFFFFF;
  border: 4px solid #5BC0BE;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  transition: all .5s ease;
}

.form__button:hover {
  opacity: .8;
}

.hp-list {
  margin-top: 30px;
  background-color: #FFFFFF;
  color: #0B132B;
  padding: 20px 20px 40px 20px;
  border-radius: 8px;
  border: 4px solid #5BC0BE;
  box-shadow: 0 0 3px 2px rgba(255, 255, 255, .5);
}

.hp-list__title {
  margin-bottom: 10px;
  font-size: 22px;
  text-align: center;
  color: #3A506B;
}

.hp-list__parent {
  list-style-type: none;
}

.hp-list__item {
  max-width: 780px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0;
  gap: 32px;
}

.task {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  transition: all .3s ease;
}

.task:hover {
  color: #5BC0BE;
}

.bullets {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3A506B;
}

.icons {
  display: flex;
  gap: 12px;
}

.icons__item {
  cursor: pointer;
  transition: all .3s ease;
}

.icons__item:hover {
  color: #5BC0BE;
}

.opacity {
  filter: blur(2px);
}

.completed {
  text-decoration: line-through;
  opacity: .6;
}

/* errors */

.errors {
  color: #ff0000;
  margin-top: 5px;
  font-size: 18px;
}

/* modal styles */

.modal {
  position: absolute;
  background-color: #1C2541;
  display: flex;
  align-items: center;
  padding: 0 30px;
  max-width: 600px;
  height: 200px;
  top: 80px;
  border-radius: 8px;
  border: 5px solid #5BC0BE;
  z-index: 999;
  opacity: 0;
  transform: scale(.8);
  transition: all .3s ease;
}

.modal.show {
  opacity: 1;
  transform: scale(1);
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: #ff0000;
  transition: color .5s ease;
}

.modal__close:hover {
  color: #cb4335;
}

.btnContainer {
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
}

.btnContainer__delete {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-top: 32px;
  background-color: #ff0000;
  color: #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 6px 12px;
  box-shadow: 0 0 19px 1px #ff0000;
  transition: all .3s ease;
}

.btnContainer__delete:hover {
  opacity: .9;
}

.tasksCompleted {
  background-color: #0B132B;
  border: 1px solid #ff0000;
  color: #ff0000;
  font-weight: 700;
}

.tasksCompleted:hover {
  opacity: 1;
  border-color: #cb4335;
  color: #cb4335;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.disabled:hover {
  opacity: .4;
  border: 1px solid #ff0000;
  color: #ff0000;
}

@media screen and (max-width: 480px) {
  .bullets {
    display: none;
  }
}