*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: #0B132B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  padding: 20px;

}

.hello {
  background-color: #3A506B;
  border-radius: 8px;
  padding: 10px 20px;
  border: 2px solid transparent;
  box-shadow: 0px 0px 4px 3px rgba(255, 255, 255, .5);
}

.hello {
  transition: all .5s ease;
}

.hello:hover {
  border: 2px solid #FFFFFF;
  background-color: #1C2541;
  color: #5BC0BE;
}

.hp-list {
  margin-top: 30px;
  background-color: #FFFFFF;
  color: #0B132B;
  padding: 20px 20px 40px 20px;
  border-radius: 8px;
  border: 4px solid #5BC0BE;
  box-shadow: 0 0 4px 3px rgba(255, 255, 255, .5);
}

.hp-list__title {
  margin-bottom: 10px;
  font-size: 22px;
}

.hp-list__parent {
  list-style-type: none;
}

.hp-list__item {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 6px 0;
}

.bullets {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3A506B;
}