.listItems {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 760px;
    gap: 12px;
    padding-left: 0;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-bottom: 16px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    width: 260px;
}

.iconsWrapper {
    display: flex;
    gap: 6px;
}

.icons,
.itemList {
    cursor: pointer;
}

.completed {
    text-decoration: line-through solid #000;
    color: #000;
}