.listItems {
    list-style: none;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-bottom: 16px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    width: 320px;
}

.iconsWrapper {
    display: flex;
    gap: 6px;
}

.icons {
    cursor: pointer;
}