.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.customContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
    border-radius: 4px;
    cursor: pointer;
    border: 4px solid #02CC67;
    color: #02CC67;
    font-size: 56px;
    transition: border .2s ease;
    outline: none;
}

.customContent:focus {
    outline: none
}

.customContent:hover {
    border-color: #009900;
}