.main {
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #212121;
}

.mainTitle {
    font-size: 48px;
}

.mainNav {
    display: flex;
    align-items: center;
    gap: 25px;
}

.mainLink {
    color: #FFF;
    font-size: 24px;
}

.mainLink:hover {
    opacity: .4;
}