.main {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #212121;
    min-height: 100vh;
    color: #FFF;
    gap: 20px;
}